.banner{
    height: 460px;
    position: relative;
    background-color: aqua;
    overflow: hidden;
}

.banner img{
    width: 100%;
}

.banner li{
    position: absolute;
    vertical-align: top;
}

.banner .pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;
}

.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px rgba(255, 255, 255, .4) solid;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    margin-left: 6px;
}

.pointer a:hover{
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}

.prev-next a{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url(../img/slides.png);
}

.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}

.prev-next .next{
    right: 0;
    background-position: -125px 0;
}

.prev-next .prev:hover{
    background-position: 0 0;
}

.prev-next .next:hover{
    background-position: -42px 0;
}