.nav_wrapper{
    width: 100%;
    background-color: #333;
}

.nav{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.nav .left_side{
    float: left;
}

.nav .right_side{
    float: right;
}

.nav .left_side li, 
.right_side li{
    float: left;
}

.nav a{
    color: #b0b0b0;
    display: block;
}

.nav a:hover{
    color: #fff;
}

.nav .line{
    width: 1px;
    height: 9px;
    background-color: #424242;
    margin: 15px 8px;
}



/*二维码相关*/

.nav .app{
    position: relative;
}

.nav .app .QRCode{
    width: 124px;
    height: 0;
    line-height: 1px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    left: -40px;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 999;
}

.nav .app::after{
    width: 0;
    height: 0;
    content: '';
    border: solid 8px transparent;
    border-bottom-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.nav .app .QRCode img{
    width: 90px;
    height: 90px;
    margin: 17px;
}

.nav .app .QRCode span{
    font-size: 14px;
    color: #000;
}

.nav .app:hover .QRCode,
.nav .app:hover::after
{
    height: 148px;
    display: block;
}


/*购物车相关*/

.nav .shopping_cart{
    width: 120px;
    text-align: center;
    margin-left: 25px;
}

.nav .shopping_cart i{
    font-size: 15px;
    margin-right: 5px;
}

.nav .shopping_cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.nav .shopping_cart .cart_info{
    width: 316px;
    height: 0;
    line-height: 100px;
    box-shadow: 2px 2px 10px gray;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s;
    position: absolute;
    right:135px;
    z-index: 999;
}

.nav .shopping_cart:hover .cart_info{
    height: 100px;
}

/*
    总结:
    1. img是替换元素，auto 0的居中方法对img无效，对块元素才有效
    2. line-height是会继承的，注意后代元素的行高，不符合要求可以覆盖
    3. 小三角怎么写：
        ①设置伪类为当前容器的before/after
        ②width: 0;height: 0;content: ''; 内容为空，宽高为0
        ③border: solid 8px transparent;border-bottom-color: #fff; 设置边框，调整效果
        ④position: absolute;right: 0;left: 0;bottom: 0;margin: auto;开启绝对定位调整位置
    4. 下拉框的隐藏方法
        ① display:none → display:block
        ② height:0 → height:正常值，记得设置overflow:hidden
*/